version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run: echo build step
      - run: mkdir build_output
      - run: touch build_output/compiled_output.txt
      - persist_to_workspace:
          root: build_output
          paths:
            - "*"
  test:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run: echo test step
      - attach_workspace:
          at: ~/repo/workspace
      - run: ls ~/repo/workspace/compiled_output.txt
  deploy:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run: echo deploy step
  test-environment:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run: echo test-environment step
  publish-package:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run: echo publish-package step

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - hold:
          type: approval
          requieres:
            - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master
      - test-environment:
          requires:
            - test
          filters:
            branches:
              ignore:
                - master
  publish:
    jobs:
      - publish-package:
          filters:
            tags:
              only:
                - /v.*/
            branches:
              ignore:
                - /.*/
